@tailwind base;
@tailwind components;
@tailwind utilities;

.form-checkbox {
  position: relative;
}

.form-checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 10px;
  background-color: #718096;
}
